VITE_API_URL=https://script.google.com/macros/s/AKfycbzONOmQfiiuOEn7_jeOChPkzS-_qAsuFfMDreUs3o43OLOF6e8GezyDny8yqtL_TUBR6Q/exec
VITE_EVENTS_API_URL=https://script.google.com/macros/s/YOUR_EVENTS_WEBAPP_ID/exec
