VITE_API_URL=https://script.google.com/macros/s/AKfycbzONOmQfiiuOEn7_jeOChPkzS-_qAsuFfMDreUs3o43OLOF6e8GezyDny8yqtL_TUBR6Q/exec
VITE_EVENTS_API_URL=https://script.google.com/macros/s/YOUR_EVENTS_WEBAPP_ID/exec
VITE_RESERVATION_API_URL=https://script.google.com/macros/s/YOUR_RESERVATION_WEBAPP_ID/exec

VITE_ENABLE_MATERIALS_UPLOAD=false
VITE_MATERIALS_UPLOAD_API_URL=https://script.google.com/macros/s/YOUR_DRIVE_UPLOAD_WEBAPP_ID/exec
